[Unit]
Description=T0 Qwen with Tools Service
After=network.target

[Service]
Type=simple
User=t0
WorkingDirectory=/home/t0/t0-1
ExecStart=source .venv/bin/activate && /bin/bash /home/t0/t0-1/scripts/serve_qwen_with_tools.sh
# ExecStart=/bin/bash /home/t0/t0-1/scripts/dummy_service.sh 
# wait for the string "Application startup complete." in logs
ExecStartPost=/bin/bash -c 'timeout 300 /bin/bash /home/t0/t0-1/scripts/is_qwen_with_tools_ready.sh'
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
