[Unit]
Description=T0 Main Service
After=network.target

[Service]
Type=simple
User=t0
WorkingDirectory=/home/t0/t0-1
ExecStart=/home/t0/.local/bin/uv run /home/t0/t0-1/scripts/serve_t0_1.sh
# ExecStart=/bin/bash /home/t0/t0-1/scripts/dummy_service.sh
# wait for the string "Application startup complete." in logs
ExecStartPost=/bin/bash -c 'timeout 900 /bin/bash /home/t0/t0-1/scripts/is_t0_main_ready'
Restart=on-failure
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
