- import_playbook: playbook_create_static_resources.yaml

- name: Install and configure t0 on GPU Host VM
  hosts: "{{ vm_name}}"
  gather_facts: true
  vars_files:
  - vars_common.yaml
  vars:
    ansible_common_remote_group: "{{ t0_user }}"
    #  ansible_become_flags:
    # -H (HOME): Sets the HOME environment variable to the home directory of the target user you're becoming. Without this, HOME might still point to the original user's home directory.
    # -S (stdin): Reads the password from standard input instead of the terminal. This allows Ansible to pass the sudo password programmatically.
    ansible_become_flags: "-H -S"
  tasks:
    - name: Debug connection
      ansible.builtin.debug:
        msg: "Connected to {{ inventory_hostname }} as {{ ansible_user_id }}"
    - name: Set facts
      set_fact:
        target_dir: "/home/{{ t0_user }}/t0-1"
    # - name: Update apt cache
    #   ansible.builtin.apt:
    #   become: true


    - name: Ensure git and pipx are installed
      ansible.builtin.apt:
        name:
          - git
          # - python3.9 # This is the newest python available on this Ubuntu version
          - python3-pip
          # - python3-venv
        state: present
        update_cache: yes
      become: true
  
    - name: Create t0 group
      ansible.builtin.group:
        name: "{{ t0_user }}"
      become: true
    
    - name: Create t0 user
      ansible.builtin.user:
        name: "{{ t0_user }}"
        comment: "t0 User"
        shell: /bin/bash
        create_home: true
        group: "{{ t0_user }}"
        # groups: "{{ ansible_user_id }}"
        # append: yes
      become: true

    - name: Add ansible user to t0 group
      ansible.builtin.user:
        name: "{{ ansible_user_id }}"
        groups: "{{ t0_user }}"
        append: yes
      become: true
      register: user_group_change
    

    - name: Reset SSH connection to allow new group membership to take effect
      ansible.builtin.meta: reset_connection
      # when: user_group_change.changed
    
    - name: Debug t0 user home
      ansible.builtin.command: whoami
      become: true
      become_user: "{{ t0_user }}"

    - name: test ls home
      ansible.builtin.command: ls -la /home/{{ t0_user }}
      become: true
      become_user: "{{ t0_user }}"

    # # Fail here for debugging
    # - name: Fail for debugging
    #   ansible.builtin.fail:
    #     msg: "Debugging stop"

    # Because we change the ownership of the cloned repo, this messes the 
    # git task's inherant idempotency. So we do an explicit check first.
    - name: Check if repository exists
      ansible.builtin.stat:
        path: "{{ target_dir }}/.git"
      register: git_repo_check
      become: true
    - name: Clone t0 repository into {{ target_dir }}
      ansible.builtin.git:
        # In this instance, using HTTPS to avoid SSH key issues
        # This is OK for read-only access to a public repo
        repo: https://github.com/alan-turing-institute/t0-1.git
        dest: "{{ target_dir }}"
        version: aps/docs-review # Add specific branch, tag (or commit hash) as required
      become: true
      become_user: "{{ t0_user }}"
      when: not git_repo_check.stat.exists
    # - name: Change ownership of {{ target_dir }} to t0 user
    #   ansible.builtin.file:
    #     path: "{{ target_dir }}"
    #     state: directory
    #     owner: "{{ t0_user }}"
    #     group: "{{ t0_user }}"
    #     recurse: true
    #   become: true

    - name: Install pipx via pip
      ansible.builtin.pip:
        name: pipx
        # executable: pip3
      become: true
      # become_user: "{{ t0_user }}"
    # - name: Ensure pipx is in PATH
    #   ansible.builtin.shell: |
    #     pipx ensurepath
    #   args:
    #     executable: /bin/bash
    #   become: true
    #   become_user: "{{ t0_user }}"

    # - name: Install uv via pipx
    #   community.general.pipx:
    #     name: uv
    #     state: present
    #   become: true
    #   become_user: "{{ t0_user }}"

    - name: Download uv installer
      ansible.builtin.get_url:
        url: https://astral.sh/uv/install.sh
        dest: "/home/{{ t0_user }}/uv-install.py"
        mode: 'ug+rwx'
      become: true
      become_user: "{{ t0_user }}"

    - name: Install uv from scripts
      ansible.builtin.shell:
        cmd: "/home/{{ t0_user }}/uv-install.py"
      become: true
      become_user: "{{ t0_user }}"

    - name: Ensure uv is available in PATH
      ansible.builtin.shell:
        cmd: |
          /home/t0/.local/bin/uv --version
      become: true
      become_user: "{{ t0_user }}"

    - name: Install t0 in a uv virtual environment
      ansible.builtin.command:
        cmd: /home/t0/.local/bin/uv sync --all-extras --python=3.12
        chdir: "{{ target_dir }}"
        creates: "{{ target_dir }}/.venv"
      become: true
      become_user: "{{ t0_user }}"        

    # For now, just redownload the data each time
    # 
    # - name: Download the data
    #   ansible.builtin.command:
    #     cmd: make -C scripts
    #     chdir: "{{ target_dir }}"
    #   become: true
      # become_user: "{{ t0_user }}"

# To run this playbook:

# uv venv --python=3.12
# source .venv/bin/activate
# uv sync --all-extras