# This Playbook initializes the Ansible Controller VM as per the guide at
# https://learn.microsoft.com/en-us/azure/developer/ansible/install-on-linux-vm?source=recommendations&tabs=azure-cli#prerequisites
#
# Notes:
# - The should be run locally (on the developer's machine).
# - It does not require an Ansible hosts inventory file as it targets localhost only.
# - The developer must have the Azure CLI installed and be logged in.
#
# Once complete, the Ansible Controller VM should be ready to use for further deployment tasks.

# uv add --group deploy --requirements .venv/lib/python3.11/site-packages/ansible_collections/azure/azcollection/requirements.txt
# uv add --group deploy ansible  

# /Users/a.smith/.local/bin/ansible
#
# See this comment if there are problems with the `az` CLI
# https://github.com/Azure/azure-cli/issues/31419#issuecomment-2858720156

- import_playbook: playbook_create_static_resources.yaml

- name: Initialize GPU Host VM
  hosts: localhost
  gather_facts: false
  connection: local
  vars_files:
  - vars_common.yaml
  tasks:
  # - name: Ensure Azure collection is installed
  #   ansible.builtin.command: ansible-galaxy collection install azure.azcollection
  #   changed_when: false
  # - name: Set key variables
  #   set_fact:
  #     resource_group: t0-dev-deploy-gpus
  #     location: uksouth
  #     vm_name: myVM
  #     # vm_size: Standard_ND96amsr_A100_v4
  #     vm_size: Standard_DS1_v2 # Basic VM size for testing


  - name: Create resource group
    azure_rm_resourcegroup:
      name: "{{ gpu_resource_group }}"
      location: "{{ location }}"

  - name: debug cloud_init_users.yaml
    debug:
      msg: "{{ lookup('file', 'cloud_init_users.yaml') }}"
  - name: Create VM
    azure_rm_virtualmachine:
      resource_group: "{{ gpu_resource_group }}"
      name: "{{ vm_name }}"
      vm_size: "{{ vm_size }}"
      admin_username: "{{ ansible_user_id }}"
      ssh_password_enabled: false
      ssh_public_keys:
        - path: "/home/{{ ansible_user_id }}/.ssh/authorized_keys"
          key_data: "{{ lookup('file', ssh_key_file + '.pub') }}"
      custom_data: "{{ lookup('file', 'cloud_init_users.yaml') }}"
      managed_disk_type: Standard_LRS
      network_interfaces: 
        - resource_group: "{{ static_resource_group }}"
          name: "{{ nic_name }}"
      image:
        # # Standard Ubuntu 22.04 LTS image
        # # offer: 0001-com-ubuntu-server-jammy
        # publisher: Canonical
        # sku: 22_04-lts-gen2
        # version: latest
        # # NVIDIA GPU Optimized VM Image - A10
        # # as per https://azuremarketplace.microsoft.com/en-us/marketplace/apps/nvidia
        publisher: nvidia
        offer: nvidia-gpu-optimized-vmi-a10
        sku: nvidia_base_a10_vmi_22_08_gen2
        version: latest
      plan:
        name: nvidia_base_a10_vmi_22_08_gen2
        publisher: nvidia
        product: nvidia-gpu-optimized-vmi-a10
      started: true
      state: present
      accept_terms: true
    register: vm_creation

  # If creating the VM succeeds, update the known_keys
  - block:
    - name: Retrieve and extract public IP address
      azure_rm_publicipaddress_info:
        resource_group: "{{ static_resource_group }}"
        name: "{{ public_ip_name }}"
      register: gpu_vm_public_ip_info

    - name: Set GPU VM public IP variable
      set_fact:
        gpu_vm_public_ip: "{{ gpu_vm_public_ip_info.publicipaddresses[0].ip_address }}"

    - name: Remove old known_hosts entry for GPU VM IP
      ansible.builtin.known_hosts:
        name: "{{ gpu_vm_public_ip }}"
        state: absent

    - name: Add to new key to known_hosts for GPU VM IP
      ansible.builtin.known_hosts:
        name: "{{ gpu_vm_public_ip }}"
        key: "{{ lookup('pipe', 'ssh-keyscan -H ' + gpu_vm_public_ip) }}"
    
    when: vm_creation.changed
